@import '../../../../node_modules/minireset.css/minireset.sass'
@import '../../../../src/simpleSnackbar'

$red: #f42a52
$blue: #4299e1
$gray: #a0aec0
$light-gray: #eee
$white: #fff

=button
    background-color: transparent
    border: none
    cursor: pointer
    font-family: inherit
    font-size: 100%
    line-height: 1.15
    margin: 0
    padding: 0
    outline: none
    overflow: visible
    text-transform: none

a
    color: $blue
    text-decoration: none

    &:hover
        text-decoration: underline

body
    font-family: 'Quicksand', sans-serif

p:not(:last-child)
    margin-bottom: 1rem

hr
    background-color: $light-gray
    border: none
    height: 1px

code
    background-color: whitesmoke
    color: $red
    padding: .25rem .5rem

.section
    padding: 3rem 1.5rem

.container
    flex-grow: 1
    margin: 0 auto
    max-width: 960px
    position: relative
    width: auto

.title,
.subtitle
    color: $red
    font-weight: 500
    margin-bottom: 1rem

.title
    font-size: 2.5rem

.subtitle
    font-size: 1.75rem

.columns
    display: flex
    margin: -1rem

    &.columns-centered
        justify-content: center

.column
    padding: 1rem

.or
    color: $gray
    padding-bottom: 1rem
    padding-top: 1rem

.text-center
    text-align: center

.button
    +button
    align-items: center
    background-color: $gray
    border-radius: .25rem
    color: $white
    display: inline-flex
    justify-content: center
    padding: .75rem 1.5rem
    text-decoration: none

    &:hover
        background-color: darken($gray, 5)

    &:focus
        box-shadow: 0 0 0 0.125em rgba($gray, .25)

    &.button-red
        background-color: $red

        &:hover
            background-color: darken($red, 5)

        &:focus
            box-shadow: 0 0 0 0.125em rgba($red, .25)

    &.button-blue
        background-color: $blue

        &:hover
            background-color: darken($blue, 5)

        &:focus
            box-shadow: 0 0 0 0.125em rgba($blue, .25)

    &.button-full
        width: 100%

code[class*=language-],
pre[class*=language-]
    border-radius: 6px
    font-family: monospace
    font-size: medium

pre[class*=language-]
    padding: 1.25rem 1.5rem

.table
    td,
    th
        border: 1px solid #dbdbdb
        border-width: 0 0 1px
        padding: .5em .75em
        vertical-align: top

    thead td,
    thead th
        border-width: 0 0 2px

.table-container
    -webkit-overflow-scrolling: touch
    overflow: auto
    overflow-y: hidden
    max-width: 100%

.icon
    align-items: center
    display: inline-flex
    height: 1rem
    justify-content: center
    width: 1rem

    svg
        height: 100%
        width: 100%

@media screen and (min-width: 769px)
    .column
        &.column-auto
            flex: none

        &.column-8
            width: 66.6666%

        &.column-4
            width: 33.3333%

        &.column-3
            width: 25%
