@import '../../../../node_modules/minireset.css/minireset.sass'

$red: #f42a52

.section
    padding: 3rem 1.5rem

.container
    flex-grow: 1
    margin: 0 auto
    position: relative
    width: auto

.title
    color: $red
    font-family: 'Quicksand', sans-serif
    font-size: 2.5rem
    font-weight: 500

.text-center
    text-align: center
