=button
    -webkit-appearance: button
    background-color: transparent
    border: none
    cursor: pointer
    font-family: inherit
    font-size: 100%
    line-height: 1.15
    margin: 0
    padding: 0
    overflow: visible
    text-transform: none

.ss-snackbars
    height: 100vh
    right: 0
    position: absolute
    top: 0

.ss-container
    position: relative

.ss-snackbar
    backdrop-filter: blur(2px)
    background-color: rgba(255, 255, 255, .9)
    border-radius: 4px
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1), 0 0 6px rgba( 0, 0, 0, .04)
    color: black
    display: inline-flex
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    padding: .75rem 1.5rem
    pointer-events: auto

.ss-close
    +button
    display: inline-flex
    justify-content: center
    align-items: center
    position: absolute
    top: .25rem
    right: .25rem

    .ss-icon
        color: rgba(0, 0, 0, .4)
        display: inline-flex
        height: 1rem
        justify-content: center
        width: 1rem

        svg
            height: 100%
            width: 100%
