=button
    -webkit-appearance: button
    background-color: transparent
    border: none
    cursor: pointer
    font-family: inherit
    font-size: 100%
    line-height: 1.15
    margin: 0
    overflow: visible
    padding: 0
    text-transform: none

.ss-snackbars
    position: fixed
    right: 1rem
    top: 1rem

.ss-container
    position: relative

.ss-snackbar
    backdrop-filter: blur(2px)
    background-color: rgba(255, 255, 255, .9)
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1), 0 0 6px rgba( 0, 0, 0, .04)
    color: #4a4a4a
    display: flex
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    pointer-events: auto

    &:not(:last-child)
        margin-bottom: 1rem

.ss-snackbar-body
    flex-grow: 1
    padding: 1.5rem

.ss-close
    +button
    align-items: center
    display: inline-flex
    justify-content: center
    padding: 1.5rem 1rem

    .ss-icon
        color: rgba(0, 0, 0, .4)
        display: inline-flex
        height: 1rem
        justify-content: center
        width: 1rem

        svg
            height: 100%
            width: 100%

    &:hover .ss-icon
        color: rgba(0, 0, 0, .8)
